@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;600&family=Shantell+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
}

:root {
    --bg-black-800: #080808;
    --bg-white-400: #BDBDBD;
    --text-white: #fff;
    --text-blue-400: #ccd4fd;
    --bg-custom:#001898;
    --bg-red: #f71818;
    
}


.container {
    height: auto;
    width: 650px;
    background-color: var(--bg-white-400);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 10rem;
    transform: translate(-50%, -50%);
}

.left {
    background-color: var(--bg-black-800);
    width: 200px;
    height: auto;
    float: left;
    color: var(--text-white);
}

.right {
    width: 450px;
    float: left;
}

.left .image {
    height: 180px;
    width: 180px;
    margin-bottom: 20px;
    margin-top: 5px;
    margin-left: 60px;
    border: 5px solid var(--text-blue-400);
    border-radius: 50%;
    box-shadow: 6px 7px 9px 5px var(--text-blue-400);
}

.image img {
    width: 100%;
    border-radius: 50%;
}

.left-1 {
    position: relative;
    margin-bottom: 1rem;
}

.heading {
    background-color: var(--text-blue-400);
    padding: 10px;
    color: var(--bg-black-800);
    text-align: left;
    padding: 20px;
    margin-right: -10px;
}

.heading::after {
    content: '';
    position: absolute;
    width: 21px;
    height: 18px;
    background-color: var(--text-blue-400);
    left: 186px;
    top: 46px;
    transform: rotate(56deg);
    z-index: -1;
}

.content {
    padding: 9px 10px;
    font-size: 15px;
    display: flex;
}

.content .icons {
    font-size: 16px !important;
    padding-right: 10px !important;
    vertical-align: sub;
}

.skills {
    width: 90%;
    background-color: var(--bg-white-400);
    margin: 0px 10px;
    border-radius: 2px;
    height: 6px;
}

.skill {
    text-align: right;
    padding: 2px 0;
    color: var(--text-white);
    height: 2px;
}

.html {
    width: 90%;
    background-color: var(--bg-custom);
}

.css {
    width: 92%;
    background-color: var(--bg-custom);
}

.bootstrap {
    width: 85%;
    background-color: var(--bg-custom);
}

.javascript {
    width: 40%;
    background-color: var(--bg-custom);
}

.worldpress {
    width: 70%;
    background-color: var(--bg-custom);
}

.web {
    width: 87%;
    background-color: var(--bg-custom);
}

.logo {
    width: 55%;
    background-color:var(--bg-custom);
}


.right .intro {
    text-align: center;
    margin: 75px 0 20px 21px;
    color: var(--bg-black-800);
}

.intro .name {
    font-size: 30px;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.intro p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}

.right .info-content
{
    margin: 6rem 2rem 0 2rem;
}   

.right .title
{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.about .para
{
    font-size: 15px;
    font-weight: 300;
}

.right .education,
.right .experience,
.right .about
{
    margin: 3.3rem 0;
    padding: 10px;
}

.right .education:hover,
.right .experience:hover,
.right .about:hover
{
    box-shadow: 2px 3px 18px 6px var(--text-blue-400);
}

tr th
{
    color: var(--text-black);
    font-size: 15px;
    padding: 5px;
    text-align: center;
}

tr td
{
    padding: 8px;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
}

table, th, td
{
    border: 2px solid var(--text-blue-400);
    border-collapse: collapse;
}